body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FCFCFC;
}

main {
    flex: 1 0 auto;
}

.custard-color {
    background: none;
    background-color: #265F76 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #FFF inset !important;
}

.grid-view .pagination {
    text-align: center;
}

.grid-view .summary {
    text-align: center;
}

.pagination li.active {
    background-color: #009688;
}

a {
    color: #009688;
}

textarea.materialize-textarea {
    max-height: 300px;
    overflow-y: auto;
}

tbody tr {
    cursor: pointer;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.toast {
    font-size: 20px;
    font-family: Roboto;
    word-break: initial;
    /*word-break: break-all;*/
    text-align: justify;
    font-weight: normal !important;
}

.toast.error {
    background-color: #D61313 !important;
    color: #FFF !important;
}

.toast.success {
    color: #FFF !important;
    background-color: #33CD5F;
}

hr {
    margin: 30px 100px;
    margin-bottom: 0px;
    border-color: #bbb;
    border-style: solid;
    border-top: 0px;
}

.select2.select2-container {
    /*display: none;*/
}

.help-block-error {
    color: #F44336 !important;
}

form p.help-block {
    margin-top: 0px;
    margin-bottom: 15px;
}

.squareImgMaxHeight img {
    max-height: 300px;
    display: block;
}

.imgHover label {
    position: relative;
    display: inline-block;
}

.imgHover span.text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    bottom: 0;
    -webkit-transition: opacity 350ms;
    -moz-transition: opacity 350ms;
    -o-transition: opacity 350ms;
    transition: opacity 350ms;
    text-align: left;
}

.imgHover span.text-content span {
    position: relative;
    left: 5px;
    top: 5px;
}

.imgHover label:hover span.text-content {
    opacity: 1;
}

.fileUpload input.uploadimg {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.uploadimg {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload p.help-block {
    display: none;
}

.select2-container--krajee .select2-search--dropdown .select2-search__field {
    height: auto;
    margin: 0;
}

a input:hover {
    cursor: pointer;
    color: #ee6e73 !important;
}

.vam, .vam span {
    vertical-align: middle;
}

.mv10 {
    margin: 10px 0px !important;
}

.mv10:last-child {
    margin: 0px !important;
}

.stat .card-content {
    text-align: center;
}

.stat p {
    font-size: 30px;
    padding-bottom: 55px;
    padding-top: 32px;
    font-weight: 200;
}

.select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field {
    margin: 0px;
    border-bottom: 0px;
}

.has-sideNav header, .has-sideNav main, .has-sideNav footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    .has-sideNav header, .has-sideNav main, .has-sideNav footer {
        padding-left: 0;
    }
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.card .card-content .card-title, .card-content .card-title i.right {
    line-height: 24px;
}

.card.product {
    height: 350px;
}

.card.product .card-image {
    max-height: 58%;
    overflow: hidden;
}

.card.product .card-content p {
    font-size: 12px;
}

.card.product .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 20px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #42A5F5;
}